@media only screen and (max-width: 950px) {
    .card {
        width: 85%
    }
    
}

@media only screen and (max-width: 600px) {
    .main {
        flex-direction: column;
    }

    .headline h1 {
        display: none;
    }

    .headline {
        width: 100%;
        height: auto;
    }

    .form{
        width: 100%;
        height: auto;

    }

    .animacao {
        width: 50vw;
    }
}